// Colores
$color-principal: #5f9ea0;
$color-secundario: #417a80;
$color-texto: #002e2e;
$color-blanco: azure;
$color-negro-transparente: rgba(0, 0, 0, 0.5);
$color-banner-hover: #5f9ea0a3;
$color-pie: rgba(0, 190, 190, 0.6);
$color-parrafo: rgba(95, 158, 160, 0.463);
$color-hover: rgba(0, 46, 46);
$color-fondo-iconos: #f5f5f5;

// Tamaños
$altura-header: 100px;
$altura-banner: 45vh;
$ancho-foto-dueno: 250px;

// Fuentes
$fuente-principal: Verdana, Geneva, Tahoma, sans-serif;

// Otros
$radio-boton: 30px;
$sombra-boton: 0 4px 10px rgba(0, 0, 0, 0.3);
$transicion-rapida: 0.3s ease;
